@model IEnumerable<CasaBeneditaMVC.Models.Produto>

@{
    ViewData["Title"] = "Cardápio";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Cardápio Casa Benedita</h1>

    @foreach (var categoria in Model.Select(p => p.Categoria).Distinct())
    {
        <h3 class="mt-5">@categoria.Nome</h3>

        <div class="row">
            @foreach (var produto in Model.Where(p => p.CategoriaId == categoria.CategoriaId))
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm h-100">

                        <img src="/Images/@produto.ImagemUrl"
                             class="card-img-top"
                             style="height:220px; object-fit:cover;" />

                        <div class="card-body">
                            <h5 class="card-title">@produto.Nome</h5>
                            <p class="card-text">@produto.Descricao</p>

                            <h5 class="text-success fw-bold">
                                R$ @produto.Preco.ToString("N2")
                            </h5>
                        </div>

                    </div>
                </div>
            }
        </div>
    }
</div>